<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			   xsi:noNamespaceSchemaLocation="logback_0.9.30.xsd">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5p [%thread] %c{1}: %M - %m - [%F, line %L]%n</pattern>
			<charset>utf-8</charset>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<append>false</append>
    <file>../logs/photo-merger-cli.log</file>
    <encoder>
      <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-5p [%thread] %c{1}: %M - %m - [%F, line %L]%n</pattern>
			<charset>utf-8</charset>
    </encoder>
  </appender>

 	<logger name="ru.dantalian.photomerger" level="warn" />

	<root level="warn">
		<appender-ref ref="console"/>
	</root>
</configuration>
